<%- include ('../admin/layouts/base') %>
<%- messages('messages', locals) %>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3></h3>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit User</h3>
                    </div>
                    <form action="/admin/user/edit-user/<%= id %>" method="post" style="margin-left: 30%;">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" name="name" value="<%= name %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="email" name="email" value="<%= email %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="username">Username: </label>
                            <input type="text" name="username" value="<%= username%>" class="form-control">
                        </div>
                        <div class="form-group">
                            <b> Mark as Admin: </b><input type="checkbox" name="admin" <%= admin ? "checked" : "" %>>
                        </div>
                        <button type="submit" class="btn btn-primary ml-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").change(function () {
        readURL(this);
    })
</script>
<%- include ('../admin/layouts/adminfooter') %>